fastapi~=0.75.2
uvicorn~=0.17.6
mangum~=0.15.0
python-jose[cryptography]
python-multipart~=0.0.5
python-dotenv
requests~=2.27.1

pydantic~=1.9.0
jose~=1.0.0
h11~=0.13.0
anyio~=3.5.0
sniffio~=1.2.0
asgiref~=3.5.0
starlette~=0.17.1
websockets~=10.3
uvloop~=0.16.0
click~=8.1.2
PyYAML~=6.0
httptools~=0.4.0
watchgod~=0.8.2
